.color-swatch {
  width:10px;
  height:10px;
  float:left;
  margin:4px 4px 0 10px;
  padding: 0;
}

#legend {
  font-size:10px;
}

body {
  overflow:hidden;
  -moz-overflow: hidden;
  margin-top:20px;
}